%h4
  = @player2.name
  %br
%h6
  You have
  = @match.player2_lifes
  lives
  %br
%p
  Played matches:
  = @player2.played_matches
  %br
  Matches won:
  = @player2.wins
  %br
  Matches lost:
  = @player2.loses
  %br
  Points:
  = current_user.points
  %br
  Longest streak:
  = @player2.streak