%h4
  = current_user.name
  %br
%h6
  You have
  = @match.player1_lifes
  lives
  %br
%p
  Played matches:
  = current_user.played_matches
  %br
  Matches won:
  = current_user.wins
  %br
  Matches lost:
  = current_user.loses
  %br
  Points:
  = current_user.points
  %br
  Longest streak:
  = current_user.streak