%h4
  = current_user.name
  %br
%p
  Played matches:
  = current_user.matches
  %br
  Matches won:
  = current_user.wins
  %br
  Matches lost:
  = current_user.loses
  %br
  Longest streak:
  = current_user.streak