%nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      = link_to "Sciparo", root_path, class: "navbar-brand"
    %ul.nav.navbar-nav
      %li
        .navbar-text
          - if current_user
            You're playing as:
      %li
        .nav.navbar-form
          = form_for(current_user.active_matches.build) do |f|
            = hidden_field_tag :player1_id, current_user.id
            = f.submit "#{current_user.name}", class: "btn btn-primary"
    .nav.navbar-nav.navbar-right
      = link_to 'Back', root_path,   class: "btn btn-warning btn-sm"
      - if current_user
        = link_to "Quit Match", finish_path, class: "btn btn-danger btn-md"
